* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #110E27;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Neuton', serif;
    font-weight: 400;
    color: #fff;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
  }

header {
    display: flex;
}

button {
    background-color: transparent;
    border-style: solid;
    font-size: 15px;
    font-weight: 600;
}

footer {
    background-color: #1B1740;
    color: #fff;
    font-size: 16px;
    justify-content: space-around;
    padding: 40px 0;
}

footer a {
    color: #fff;
  }

footer p {
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 100%;
    align-items: center;
    padding: 0;
    margin: 0 5%;
    flex-wrap: wrap;
}

.menu-item {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
}

.menu-item:hover {
    background-color: #851C22;
}

.menu-item img {
    width: 10px;
    margin-left: 6px;
    margin-top: 2px;
}

.border-menu-item{
    padding: 10px 20px;
    border-color:#fff;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
}

.logo-img {
    width: 250px;
    z-index: 450;
    position: relative;
    top: 33%;
    left: 12%;   
    transition:500ms ease;
}

.logo-img.scroll {
    width: 210px;
    left: 17%;
    top: 28%;
}

.container-logo {
    background-color:#fff;
    border-radius: 50%;
    width: 340px;
    height: 340px;
    display: block;
    position: relative;
    top: -240px;
    z-index: 400;
    transition:500ms ease;
}

.container-logo.scroll {
    top: -288px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.18);
}

.nav {
    transition:500ms ease;
    background:transparent;
    height: 120px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 500;
}

.nav.scroll {
    background: #1B1740;
    height: 80px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.18);
}

.banner-img {
    /* background-image: url('img/fotos mar/cbe2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    /* position: relative;
    height: 100%; */
    /* width: 100%; */

}

.banner p {
    position: absolute;
    color:#fff;
    bottom: 0;
    font-size: 12px;
    margin: 10px 20px;
    max-width: 250px;
    /* background-color:rgba(0, 0, 0, 0.25); */
    background-image: radial-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0));
    padding: 5px;
    line-height: 16px;
    text-shadow: 1px 1px 1px black;
}

.overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0));
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.page-title-wrap {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    
}

.page-title {
    font-size: 46px;
    margin: 0;
}

.page-title span {
    background-color: rgba(27, 23, 64, 0.8);
    padding: 15px;
    display: table;
    margin: 0 auto;
}

.page-title span:first-child {
    padding-top: 10px;
}

.page-title span:last-child {
    padding-top: 0;
    padding-bottom: 15px;
}

.page-title-sub {
    background-color: rgba(133, 28, 33, 0.8);
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 10px;
    width: max-content;
    color: #fff;
}

.banner-bottom-bar {
    background: #1B1740;
    min-height: 15vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5%;
}

.banner-bottom-item {
    display: flex;
    align-items: center;
    padding: 10px;
}

.banner-bottom-item img {
    width: 45px;
    margin-right: 20px;
}

.banner-bottom-item h2 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 30px;
    margin: 10px 0;
}

.page-h2 {
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 20px;
}

.page-h2 span {
    background-color: #1B1740;
    padding: 15px;
    padding-bottom: 8px;
    padding-top: 2px;
    position: relative;
}

.page-h2 span::after {
    width: 70vw;
    height: 3px;
    content: "";
    background-color: #1B1740;
    position: absolute;
    bottom: 0px;
    left: 0;
  }

  .container {
    padding: 70px 10%;
    padding-bottom: 0px;
  }

  .circle-img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background-color:navajowhite;
    overflow: hidden;
    position: relative;
  }

  .intro-img {
    width: auto;
    height: 350px;
    position: relative;
    left: -7%;
  }

  .intro-img-sub {
    font-size: 12px;
    text-align: center;
  }

  .flex {
      display: flex;
  }

  .intro-content {
      flex-direction: column;
  }

  .intro-content p {
      font-size: 18px;
      line-height: 27px;
      margin: 20px 0;
  }

  .intro-content button {
    padding: 10px 20px;
    border-color:#851C22;
    border-width: 2px;
    border-radius: 50px;
    color: #851C22;
    width: max-content;
    align-self: center;
  }

  .intro-content button:hover {
    color: #fff;
    background-color: #851C22;
  }

  .footer-logo {
    width: 250px;
  }

  .sponsor-logo {
    width: 100%;  
    max-width: 200px;
  }

  .calendar {
    justify-content: space-between;

  }

  .calendar-sub span {
    background-color: #851C22;
    padding: 13px 60px;
    padding-bottom: 10px;
    /* padding-top: 2px; */
    position: relative;
    color: #fff;
    font-size: 24px;
    line-height: 0;
    font-weight: 700;
    border-color: white;
    border-style: solid;
    border-width: 5px;
  }

  .calendar-months {
    flex-wrap: wrap;
    margin: 0 -20px;
    margin-top: 10px;
  }

  .calendar-month {
     border-style: solid;
     border-width: 2px;
     border-color: #1B1740;
     margin: 20px;
     flex: 1;
     min-width: 300px;
  }

  .calendar-month h4 {
    background-color: #1B1740;
    padding: 10px 20px ;
    margin: 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
  }

  .calendar-date {
      /* justify-content: space-around; */
  }

  .calendar-date p:first-child {
      background-color: #DEDEDE;
      font-size: 18px;
      font-weight: 700;
      padding: 20px;
      margin: 0;
  }

  .calendar-date p:last-child {
      margin: auto 10px;
  }

  .sponsors {
    margin-bottom: 70px !important;
    margin-top: 40px;
  }

  .location-img {
    width: 20px;
  }

  .footer-menu {
    padding: 0;
    line-height: 30px;
  }

  .location-name {
    margin-bottom: 20px !important;
  }

  .location-name::before {
    background-image: url('icons/placeholder-fill.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 18px;
    height: 18px;
    content: '';
    display: inline-block;
    margin-right: 10px;
    bottom: -3px;
    position: relative;
  }

  /* .location .location-item:last-of-type {
      margin-top: 40px;
  } */

  .location-item {
    padding-right: 50px;
    line-height: 24px;
  }

  .location-item p:nth-child(2), .location-item p:first-of-type {
      margin-bottom: 10px;
  }

  .email {
    margin-top: 40px;
  }

  .email::before {
    background-image: url('icons/email.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 18px;
    height: 18px;
    content: '';
    display: inline-block;
    margin-right: 10px;
    bottom: -3px;
    position: relative;
  }
 

  /* .calendar-month .calendar-date:first-of-type {
    border-bottom-style: solid;
    border-width: 2px;
  } */

/* ------------------- GLIDE */
/* 
.glide-sponsors {
    margin-bottom: 30px;
}

.glide__slides {
    align-items: center;
}

.glide__slide {
    background-color: coral;
    text-align: center;
}

.glide__bullets {
    bottom: -10px !important;
}

.glide__bullet {
    border-color:#1B1740 !important;
    border-width: 1px !important;
}

.glide__bullet--active {
    background-color: #1B1740 !important;
}

.slides-banner {
    margin: 0;
    height: 80vh;
}

.slide-banner {
    position: relative;
    overflow: hidden;
    
} */

/* --------- SLICK */

.banner .slick-slide {
    height: 85vh ;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.sponsors .slick-slide {
    align-items: center;
    /* background-color: #851C22; */
    padding: 0 15px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.slick-prev, .slick-next {
    z-index: 1000 ;
    width: 40px;
    height: 40px;
}

.slick-prev::before, .slick-next::before {

    font-size: 40px ;
    opacity: .1;
}

.slick-prev {
    left: 20px ;
}

.slick-next {
    right: 20px ;
}

.slick-dots {
    bottom: -40px;
}

.slick-dots li button::before {
    border-style: solid;
    border-radius: 50%;
    border-color: #1B1740;
    border-width: 1.5px;
    content: '';
    width: 8px;
    height: 8px;
    opacity: 1;
}

.slick-dots li.slick-active button::before {
    background-color: #1B1740;
    opacity: 1;
}