* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #110e27;
  overflow-x: hidden;
  min-width: 220px;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  font-size: 16px;
}

h1,
h2 {
  font-family: "Neuton", serif;
  font-weight: 400;
  color: #fff;
}

a {
  text-decoration: none;
  outline: none;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  z-index: 2000;
}

button {
  background-color: transparent;
  border-style: solid;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

footer {
  background-color: #1b1740;
  color: #fff;
  justify-content: center;
  padding: 20px 60px;
  overflow: hidden;
}

footer a {
  color: #fff;
}

footer p {
  margin: 0;
}

footer li:hover {
  text-decoration: underline;
}

footer .footer-item {
  padding: 20px;
}

.modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(17, 14, 39, 0.8);
  z-index: 550;
  pointer-events: revert;
  display: none;
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  min-width: 220px;
}

.modal-dialog h2,
.modal-dialog p {
  color: #110e27;
}

.modal-dialog .content-modal {
  width: 85vw;
  height: 85vh;
  position: relative;
  margin: 0 auto;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 5px;
  background-color: #fff;
  scrollbar-width: thin;
  z-index: 500;
}

.close-modal {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 50px;
  height: 50px;
}

.close-modal div:hover {
  background-color: rgb(108, 125, 141) !important;
}

.logo-img-modal {
  width: 180px;
  min-width: 180px;
  max-width: 200px;
  margin: 20px 0;
  margin-right: 40px;
}

.news-font-size {
  font-size: 34px !important;
  margin-right: 60px !important;
  top: -25px;
  left: -15px;
}

.head-news {
  font-size: 22px;
  padding-right: 0;
  font-weight: 700;
  width: 500px;
  margin: auto 0;
  font-family: "Open Sans", sans-serif;
}

.download-news-btn {
  background-color: #fff;
  width: 100%;
  text-align: end;
  padding: 10px 8%;
  margin: 0 auto;
  bottom: 0;
  z-index: 550;
  position: absolute;
  border-radius: 5px;
  -webkit-box-shadow: 0px -1px 40px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -1px 40px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -1px 40px -10px rgba(0, 0, 0, 0.2);
}

.content-news {
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
  scrollbar-width: thin;
  padding: 20px 8%;
  padding-top: 30px !important;
}

.margin-control img {
  margin: 15px;
}

.margin-control {
  margin: 15px 0;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 100%;
  align-items: center;
  padding: 0;
  margin: 0 3%;
  min-width: 780px;
  /* flex-wrap: wrap; */
}

.menu-item {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 10px 18px;
  line-height: initial;
}

.menu-item:hover,
.menu-item-active {
  background-color: #851c22;
}

.menu-item img {
  width: 10px;
  margin-left: 6px;
  margin-top: 2px;
}

.border-menu-item {
  padding: 10px 20px;
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
}

.logo-img {
  width: 250px;
  z-index: 450;
  position: relative;
  top: 30px;
  left: 14%;
  transition: 500ms ease;
}

.logo-img.scroll {
  width: 210px;
  left: 20%;
  top: 16px;
}

.container-logo {
  background-color: #fff;
  border-radius: 50%;
  width: 340px;
  height: 340px;
  display: block;
  position: relative;
  top: -240px;
  z-index: 400;
  transition: 500ms ease;
}

.container-logo.scroll {
  top: -288px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.18);
}

.nav {
  transition: 500ms ease;
  background: transparent;
  height: 120px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 500;
}

.nav.scroll {
  background: #1b1740;
  height: 80px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.18);
}

.banner {
  position: fixed;
  z-index: -1;
  height: 90vh;
  width: 100vw;
  transition: top 0.4s ease-in-out;
  top: 0;
}

.banner p {
  position: absolute;
  color: #fff;
  bottom: 7.2vh;
  font-size: 12px;
  margin: 0 20px;
  max-width: 250px;
  /* background-color:rgba(0, 0, 0, 0.25); */
  background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  padding: 5px;
  line-height: 16px;
  text-shadow: 1px 1px 1px black;
}

.move-banner {
  top: -20px;
}

.overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  top: 0;
  width: 100%;
  z-index: 10;
}

.page-title-wrap {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.page-title {
  font-size: 46px;
  margin: 0;
}

.page-title span {
  background-color: rgba(27, 23, 64, 0.8);
  padding: 15px;
  display: table;
  margin: 0 auto;
}

.page-title span:first-child {
  padding-top: 10px;
  padding-bottom: 2px;
}

.page-title span:last-child {
  padding-top: 2px;
  padding-bottom: 15px;
}

.page-title-sub {
  background-color: rgba(133, 28, 33, 0.8);
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 13px 18px;
  width: max-content;
  color: #fff;
}

.banner-bottom-bar {
  background: #1b1740;
  min-height: 15vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 5%;
}

.banner-bottom-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  min-width: 240px;
}

.banner-bottom-item img {
  width: 45px;
  margin-right: 20px;
}

.banner-bottom-item h2 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 26px;
  margin: 8px 0;
}

.page-h2 {
  font-size: 38px;
  margin: 0;
  margin-bottom: 10px;
  max-width: 630px;
  padding: 9px 0;
  position: relative;
}

.page-h2::after {
  width: 78.5vw;
  height: 3px;
  content: "";
  background-color: #1b1740;
  position: absolute;
  bottom: 2px;
  left: 0;
}

.no-after::after {
  content: none !important;
}

.page-h2 span {
  background-color: #1b1740;
  padding: 15px;
  padding-bottom: 5px;
  padding-top: 0;
  position: relative;
  line-height: normal;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}

.page-h2-full {
  width: 30%;
  background-color: #1b1740;
  margin: 0;
}

.page-h2-full span::after {
  content: none !important;
}

.page-h2-full span {
  background-color: transparent;
  width: 100%;
  display: table;
  text-align: end;
  padding: 20px;
  padding-right: 30px;
}

.location-item-full {
  background-color: #851c22;
  width: 70%;
  color: #fff;
  padding: 10px 30px;
  margin: 0 !important;
}

.title-after-change::after {
  width: 60vw;
}

.first-section {
  margin-top: 95px;
  flex-direction: column;
}

.program-year-title {
  background-color: transparent !important;
  font-family: "Open Sans", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: #1b1740;
  display: table;
  margin-top: 38%;
}

.container {
  padding: 60px 10%;
  padding-bottom: 0px;
  background-color: #fff;
}

#sponsors.container {
  padding-top: 15px;
}

.box-circle-img {
  margin-left: 35px;
  flex: 1;
}

.circle-img {
  border-radius: 50%;
  width: 350px !important;
  height: 350px;
  background-color: navajowhite;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.intro-img {
  width: auto;
  height: 350px;
  position: relative;
  left: -7%;
}

.intro-img-sub {
  font-size: 12px;
  text-align: center;
  line-height: initial;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 10px;
}

.flex {
  display: flex;
}

.intro-content {
  flex-direction: column;
  min-width: 350px;
  flex: 2;
}

.intro-content p {
  line-height: 26px;
  margin: 20px 0;
  margin-top: 20px;
}

.intro-content a {
  width: max-content;
}

.intro-content button {
  padding: 10px 20px;
  border-color: #851c22;
  border-width: 2px;
  border-radius: 50px;
  color: #851c22;
}

.intro-content button:hover {
  color: #fff;
  background-color: #851c22;
  cursor: pointer;
}

.register-btn button {
  padding: 10px 20px;
  background-color: #851c22;
  color: #fff;
}

.register-btn button:hover {
  box-shadow: 0px 3px 6px 0px rgba(66, 65, 65, 0.5);
}

.flag-reg-open {
  position: absolute;
  background: #851c22;
  right: 0;
  top: 120px;
  padding: 2px 25px;
  z-index: 200;
  display: table;
}

.flag-reg-open p {
  color: #fff;
  font-weight: 600;
  margin-right: 30px;
}

.flag-reg-open:hover {
  background: #63181c;
}

.before-line::before {
  width: 79vw;
  height: 1px;
  content: "";
  background-color: #dedede;
  position: absolute;
  top: 45px;
}

.btn-note {
  padding-top: 20px;
}

.talks-aside {
  background-color: #dedede;
  padding: 30px;
  flex-wrap: wrap;
  min-width: 360px;
  display: table;
  width: 100%;
}

.talks-aside h4 {
  margin-bottom: 24px;
  margin-top: 20px;
  padding: 8px 0;
  font-weight: 700;
  position: relative;
  font-size: 16px;
}

.talks-aside h4::after {
  width: 100%;
  height: 2px;
  content: "";
  background-color: #1b1740;
  position: absolute;
  bottom: 2px;
  left: 0;
}

.talks-aside .plenary-item {
  margin-bottom: 24px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 16px;
}

.talks-aside .plenary-item p {
  font-size: 14px;
  margin: 0;
}

.talks-aside .plenary-item h5 {
  font-size: 15px;
  margin: 0;
  margin-top: 4px;
}

.talks-aside .plenary-item .viewmore {
  font-size: 14px;
  margin-top: 12px;
  line-height: 1.5;
}

.talks-aside .plenary-item .viewmore.hideContent {
  height: calc(14px * 2 * 1.5);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.talks-aside .plenary-item .viewmore-btn {
  all: unset;
  cursor: pointer;
  padding: 8px 0;
  font-weight: 600;
  font-size: 14px;
  margin-left: auto;
  display: block;
  color: #851c22;
}

.program-table {
  width: 100%;
  border-collapse: collapse;
}

.program-table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.program-table td:first-child {
  font-weight: 700;
  color: #1b1740;
  background-color: rgba(0, 0, 0, 0.05);
  width: 60px;
  text-align: center;
}

.program-table td.link {
  width: 60px;
}

.program-table td {
  padding: 12px;
}

.reg-item p {
  font-size: 14px;
  line-height: initial;
  text-align: center;
}

.reg-item p:last-child {
  margin: 0;
  margin-top: 6px;
}

.btn-disabled {
  padding: 10px 20px;
  border-color: #9e9e9e;
  border-width: 2px;
  border-radius: 50px;
  color: #9e9e9e;
  cursor: not-allowed;
}

.footer-logo {
  width: 240px;
  margin-top: auto;
}

.calendar {
  justify-content: space-between;
  flex-wrap: wrap;
}

.calendar-months {
  flex-wrap: wrap;
  margin: 0 -20px;
  margin-top: 10px;
}

.calendar-month {
  border-style: solid;
  border-width: 2px;
  border-color: #1b1740;
  margin: 20px;
  flex: 1;
  min-width: 300px;
}

.calendar-month h4 {
  background-color: #1b1740;
  padding: 10px 20px;
  margin: 0;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.calendar-date p:first-child,
.hotel-table-sub {
  background-color: #dedede;
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
  margin: 0 !important;
}

.calendar-date p:last-child {
  margin: auto 10px;
  padding: 4px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
}

#hotel-table-mobile {
  display: none;
}

.hotel-table-sub {
  text-align: center;
  padding: 20px;
  border-style: solid;
  border-width: 0;
  border-top-width: 0.5px;
}

.hotel-price {
  font-weight: 600;
  text-align: center;
  padding: 20px;
  margin: 0 !important;
  border-style: solid;
  border-width: 0;
  border-top-width: 0.5px;
  flex: 1;
  position: relative;
}

#hotel-reais .hotel-price::after {
  content: "";
  height: 26px;
  width: 1px;
  background-color: #110e27;
  position: absolute;
  right: 0;
}

.hotel-column {
  flex-direction: column;
  flex: 1;
}

.hotel-column h4 {
  text-align: center;
  min-height: 62px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.hotel-table {
  margin: 5px 0;
}

#hotel-rates p:only-of-type {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: end;
}

.program-calendar-date {
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
}

.program-slick {
  flex-wrap: wrap;
  padding-bottom: 0 !important;
}

.sub-active .program-calendar-date p {
  background-color: #1b1740;
  font-weight: 600;
  font-size: 16px;
}

.program-calendar-date p {
  color: #fff;
  display: table;
  padding: 5px 10px;
  margin-bottom: -2px;
  margin-left: 10px;
  margin-top: 0;
  background-color: #110e27;
  font-weight: 400;
  font-size: 12px;
}

.org-wrap {
  position: relative;
  min-height: 260px;
}

.org-padding {
  padding-top: 50px;
  padding-bottom: 10px;
}

.org-sub {
  margin: 0;
  margin-left: -5px;
}

.org-sub span {
  background-color: #63181c;
  padding: 8px 18px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  display: table;
  right: -5px;
  position: relative;
  color: #fff;
  border-color: white;
  border-style: solid;
  border-width: 0 5px;
}

.sub-active span,
.non-clickable span {
  background-color: #851c22;
  padding: 10px 20px;
  font-size: 22px;
  cursor: initial;
  font-weight: 600;
}

.sub-wrap {
  align-items: flex-end;
  position: relative;
  padding-bottom: 10px;
}

.sponsors {
  margin-bottom: 70px !important;
  padding-top: 30px;
  border-top: 1px solid #dedede;
}

.location-img {
  width: 20px;
}

.footer-menu {
  padding: 0;
  line-height: 30px;
  margin-bottom: 0;
}

.location-name {
  margin-bottom: 20px !important;
}

.location-name::before {
  background-image: url("icons/placeholder-fill.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 18px;
  height: 18px;
  content: "";
  display: inline-block;
  margin-right: 10px;
  bottom: -3px;
  position: relative;
}

.location-wrapper {
  margin: 0 auto;
  width: auto;
  display: table;
}

.footer-email-logo {
  flex-direction: column;
}

.footer-email-logo p:last-of-type,
.footer-email-logo p a {
  color: #9e9e9e;
  font-size: 10px;
  margin-top: 5px;
}

.assinatura-img {
  position: relative;
  top: 6px;
  margin-left: 2px;
  width: 14px !important;
}

.location-item {
  line-height: 24px;
}

footer .location-item {
  min-width: 200px;
}

.location-item:first-of-type {
  margin-right: 50px;
  margin-bottom: 30px;
}

.location-item p:nth-child(2) {
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.3;
}

.location-item p:nth-child(3) {
  margin-top: 0;
}

.location-item p:first-of-type {
  font-size: 14px;
  background-color: #851c22;
  width: max-content;
  padding: 0 5px;
  margin-bottom: 10px;
}

.email {
  margin-bottom: 20px;
}

.email::before {
  background-image: url("icons/email.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 18px;
  height: 18px;
  content: "";
  display: inline-block;
  margin-right: 10px;
  bottom: -3px;
  position: relative;
}

.absolute {
  position: absolute !important;
}

.about-main-img {
  margin-left: 35px;
  top: -10px;
}

.about-imgs {
  margin: 10px auto;
  flex: 1;
  max-width: 500px;
  flex-direction: column;
}

.local-organizing {
  left: 200vw;
  padding-bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}

.scicom {
  left: 100vw;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}

.org-item {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px 0;
}

.local-organizing li {
  list-style-type: circle;
  margin: 20px 0;
}

.local-organizing p {
  line-height: normal;
}

.local-organizing span {
  margin-bottom: 5px;
  font-weight: 600;
  display: inline-block;
}

.organizers {
  justify-content: center;
  position: relative;
  left: 0;
}

.scicom {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.local-organizing {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.organizer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 200px;
  text-align: center;
}

.organizer-item p:first-of-type {
  font-weight: 600;
  margin: 8px 0 5px;
  line-height: 1.2;
}

.organizer-item p:last-child {
  margin: 0;
  line-height: initial;
}

.perfil {
  width: 120px !important;
  height: 120px;
}

.perfil-horizontal img {
  height: 120px;
  width: auto;
  left: -18px;
}

.plenariesImg {
  width: 80px !important;
  height: 80px;
  flex-shrink: 0;
  margin: 0;
  margin-top: 4px;
  margin-right: 12px;
}

.perfil img,
.plenariesImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sub-university {
  font-size: 12px;
  text-align: center;
  max-width: 155px;
}

.previous-symp {
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 0;
}

.previous-item {
  flex-wrap: wrap;
}

.previous-item p {
  font-weight: 600;
  margin-top: 7px;
  margin-bottom: 5px;
}

.previous-item p:first-child {
  font-size: 20px;
  background-color: #851c22;
  width: max-content;
  color: #fff;
  padding: 5px 10px;
  margin: auto;
  margin-bottom: 5px;
}

.previous-item div {
  margin: 20px;
  text-align: center;
  min-width: 230px;
  flex: 1;
}

.previous-item span {
  font-weight: 400;
  font-size: 16px;
}

.program-head-wrap {
  margin-right: 50px;
  flex: 1.3;
  min-width: 400px;
}

.program-head p:first-child {
  padding: 5px 10px;
  background-color: #851c22;
  color: #fff;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
}

.program-head p:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
}

.program-head p:nth-child(3) {
  color: #851c22;
  margin: 0;
}

.not-available-item {
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

.not-available-item img {
  max-width: 200px;
}

.not-available-item p {
  text-align: center;
}

.city-text {
  margin-top: 30px;
}

.city-text p {
  margin-bottom: 15px;
  margin-top: 0;
}

.city-title {
  align-items: baseline;
  justify-content: flex-start;
}

.city-title h3 span {
  border-style: none;
}

.logistics-city-img {
  width: 450px !important;
  height: 450px;
  margin: 0 auto;
  margin-bottom: -60px;
}

.logistics-city-img img {
  width: auto;
  height: 450px;
  position: relative;
  left: -20%;
}

.hotel-intro {
  margin-top: 40px;
  margin-bottom: 25px;
  flex-wrap: wrap-reverse;
}

.hotel-img {
  width: auto;
  height: 300px;
  margin-bottom: 20px;
}

.hotels-container {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.hotel-item,
.place-item {
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 4px;
}

.hotel-item .img-wrapper {
  height: 150px;
}

.hotel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  border-radius: 4px;
}

.hotel-item .hotel-info {
  padding: 12px 16px 16px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 150px);
}

.hotel-item .hotel-info h4 {
  margin: 0 0 4px;
  line-height: 1.3;
}

.hotel-item .hotel-info h4 span {
  padding: 0 6px;
  background-color: rgba(27, 23, 64, 0.1);
  margin-left: -2px;
  margin-right: 4px;
  border-radius: 16px;
  min-width: 20px;
  display: inline-block;
  text-align: center;
}

.hotel-item .hotel-info p {
  font-size: 14px;
  margin: 0 0 6px;
}

.hotel-item .hotel-info a {
  margin-top: auto;
}

.hotel-item .hotel-info a,
.place-item .place-info a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  font-size: 15px;
  padding-bottom: 2px;
}

.places-container {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.place-item .place-info {
  width: 100%;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
}

.place-item .place-info h4 {
  margin: 0;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.place-item .place-info p {
  font-size: 14px;
  margin: 4px 0 12px;
}

.place-item .place-info .link {
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
}

.place-item .place-info .link span {
  padding: 4px 8px;
  background-color: rgba(27, 23, 64, 0.1);
  margin-left: -2px;
  margin-right: 12px;
  border-radius: 16px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap;
}

.other-info h3 {
  font-size: 24px;
  font-weight: 700;
}

.reg-title {
  flex: 1;
  min-width: 360px;
}

.reg-sub {
  margin-top: -10px;
  width: auto !important;
  display: table;
}

.reg-sub span {
  border-style: none;
  font-size: 18px;
  line-height: 27px;
}

.reg-info {
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.reg-info p:first-of-type {
  font-size: 22px;
  font-weight: 700;
  color: #1b1740;
  margin: 2px 0;
}

.reg-info p:nth-child(2):not(:last-child) {
  margin: 6px 0 12px;
}

.reg-info h5 {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  background-color: #dedede;
  position: relative;
  min-height: 60px;
  line-height: 20px;
}

.line-height-change {
  line-height: 37px !important;
}

.table-center-line::after {
  content: "";
  height: 25px;
  width: 1px;
  background-color: #110e27;
  position: absolute;
  right: 0;
  top: 18px;
}

.reg-btn::after {
  top: 15px;
  height: calc(100% - 30px);
}

.reg-item {
  margin: 7px 0;
  min-width: 270px;
  flex: 1;
}

.reg-item:first-of-type {
  margin-right: 30px;
}

.reg-btn {
  padding: 15px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
}

.airports-list {
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.airports-list li {
  flex: 1;
  margin: 15px 35px;
  padding: 3px;
  min-width: 270px;
  max-width: 500px;
}

.airports-list h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 5px 23px;
  margin-top: 18px;
}

.airports-list p {
  margin: 0 23px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: initial;
}

.airports-list li:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  background-color: #1b1740;
}

.airports-list li:hover .aiport-name {
  color: #fff;
}

.airports-list a:visited {
  color: #1b1740;
  text-decoration: none;
}

.airport-logo {
  position: relative;
}

.airport-logo img {
  width: 100%;
}

.aiport-name {
  border-style: solid;
  border-width: 2px;
  border-color: #1b1740;
  margin-top: -5px;
  color: #110e27;
}

.airports-sub li {
  list-style-type: circle;
  line-height: 22px;
  margin-bottom: 15px;
}

.airports-sub ol {
  padding-left: 28px;
}

.airports-sub ol li {
  list-style-type: decimal;
  line-height: 22px;
  margin: 12px 0;
  padding-left: 4px;
}

.figure-style {
  text-align: center;
}

.figure-style img {
  max-height: 350px;
}

.airports-sub figure,
.figure-style {
  margin: 12px 0 40px;
}

.airports-sub figure figcaption,
.figure-style figcaption {
  font-size: 14px;
  font-style: italic;
  margin-top: 6px;
}

.airports-sub .metro-links {
  margin: -16px 0 64px;
}

.airports-sub .metro-links p {
  margin: 12px 0;
}

.airport-banner {
  height: 150px;
  position: relative;
  margin: 40px 0 28px;
}

.airport-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.airport-banner::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(27, 23, 64, 0.8);
  border-radius: 4px;
}

.airport-banner h4 {
  color: white;
  position: absolute;
  margin: 16px 24px;
  bottom: 0;
  font-family: "Neuton", serif;
  font-size: 36px;
  font-weight: 700;
}

.text-link-red {
  color: #851c22;
  text-decoration: underline;
}

.text-link-red:visited {
  color: #851c22;
}

.force-display-none {
  display: none !important;
}

.load-more {
  width: 100%;
  margin-top: 20px;
}

.load-more a {
  position: relative;
  margin: auto;
  display: table;
  min-width: 20px;
}

.load-more button {
  min-width: 120px;
}

#gallerypt2 {
  margin-top: 3px;
}

.abstract-container {
  display: flex;
  margin-top: 24px;
}

.info-tip {
  background-color: #dedede;
  padding: 20px 30px;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 40px;
}

.info-tip.full-width {
  margin: 0;
  margin-top: 30px;
  width: auto;
}

.info-img {
  width: 200px;
  margin: 20px 0;
  margin-right: 40px;
}

.info-txt {
  flex: 1;
}

.partnership img {
  min-width: 320px;
  width: 50%;
  max-width: 350px;
  padding: 40px 16px 24px;
}

/* --------- SLICK */

.slick-active,
.slick-current,
.slick-center,
.slick-slide,
.slick-slide:active,
.slick-slide:focus,
.slick-active:active,
.slick-current:active,
.slick-center:active,
.slick-active:focus,
.slick-current:focus,
.slick-center:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  outline-style: none;
}

.banner .slick-slide {
  height: 90vh;
}

.banner .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.sponsors .slick-slide {
  align-items: center;
  /* background-color: #851C22; */
  padding: 0 15px;
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.sponsors .slick-slide img {
  width: 100%;
  max-width: 200px;
  margin: auto;
}

.about-main-img .slick-track,
.about-small-img .slick-track {
  width: auto !important;
}

.about-main-img .slick-slide {
  left: 0 !important;
}

.about-main-img .slick-slide span {
  border-radius: 50%;
  width: 350px !important;
  height: 350px;
  background-color: navajowhite;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.about-main-img .slick-slide img {
  width: auto;
  height: 350px;
  position: relative;
}

.about-main-img .slick-slide p {
  font-size: 12px;
  text-align: center;
  min-height: 50px;
  line-height: initial;
  max-width: 310px;
  margin: 0 auto;
  margin-top: -5px;
  position: relative;
  top: 0;
  z-index: -1;
  background-color: whitesmoke;
  padding: 10px;
}

.about-main-img .slick-list {
  overflow: initial !important;
}

.about-small-img {
  margin-left: 15px;
}

.about-small-img-2 {
  margin-bottom: 30px;
}

.about-small-img-2 .slick-track {
  transform: none !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-small-img .slick-list {
  padding: 0 !important;
}

.about-small-img .slick-slide {
  border-radius: 50%;
  width: 80px !important;
  height: 80px;
  background-color: navajowhite;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 3px;
  cursor: pointer;
}

.about-small-img-2 .slick-slide {
  border-radius: 50%;
  width: 80px !important;
  height: 80px;
  background-color: whitesmoke;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  cursor: pointer;
}

.about-small-img-2 .slick-current {
  border-color: brown;
  border-width: 3px;
  border-style: solid;
}

.about-small-img-2 .slick-slide img {
  width: auto;
  height: 80px;
  position: relative;
}

.slick-prev,
.slick-next {
  z-index: 100;
  width: 120px;
  height: 70%;
}

.slick-prev::before,
.slick-next::before {
  font-size: 65px;
  opacity: 0.3;
  bottom: 25px;
  position: relative;
}

.slick-prev::before {
  padding-right: 20px;
}

.slick-next::before {
  padding-left: 20px;
}

.slick-prev {
  left: 0;
  padding-left: 20px;
}

.slick-next {
  right: 0;
  padding-right: 20px;
}

.slick-next:hover {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  );
}

.slick-prev:hover {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  );
}

.slick-dots {
  bottom: -40px;
}

.slick-dots li button::before {
  border-style: solid;
  border-radius: 50%;
  border-color: #1b1740;
  border-width: 1.5px;
  content: "";
  width: 8px;
  height: 8px;
  opacity: 1;
}

.slick-dots li.slick-active button::before {
  background-color: #1b1740;
  opacity: 1;
}

.dropdown-wrap {
  position: relative;
}

.drop-btn img.rotate {
  transform: rotate(180deg);
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 170px;
  z-index: 1;
  flex-direction: column;
  top: 45px;
  left: -35%;
  text-align: center;
}

.dropdown-menu.scroll {
  background-color: #1b1740;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.dropdown-menu .menu-item {
  width: 100%;
  padding: 12px 18px;
}

.show {
  display: flex;
}

.nav-footer {
  min-width: 260px;
}

.break-flex {
  display: none;
  width: 100%;
}

/* MOBILE MENU  */

.menu li {
  margin: 15px 0px;
  display: table;
}

.mobile-menu {
  display: none;
}

.menu-btn,
.close-btn {
  position: relative;
  top: 40px;
  right: 0;
  transform: translate(-50%, -50%);
  width: 55px;
  padding: 10px;
  z-index: 200;
  float: right;
}

.menu-btn:hover,
.close-modal-btn:hover {
  background-color: #851c22;
}

.menu-btn span,
.close-modal-btn span {
  display: block;
  width: 100%;
  /* box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 3px; */
  height: 2px;
  background: #fff;
  transition: all 0.3s;
  position: relative;
}

.active-close span {
  display: block;
  width: 100%;
  background: #fff;
  position: relative;
  height: 2px;
}

.menu-btn span + span,
.close-modal-btn span + span,
.close-btn span + span {
  margin-top: 8px;
}

.active-close span:nth-child(1) {
  top: 14px;
  transform: rotate(45deg);
  animation: none !important;
}

.active-close span:nth-child(2) {
  transform: scale(0);
  animation: none !important;
  margin-top: 8px;
}

.active-close span:nth-child(3) {
  bottom: 6px;
  transform: rotate(135deg);
  animation: none !important;
  margin-top: 8px;
}

.active span:nth-child(1) {
  animation: ease 0.4s top forwards;
}

.active span:nth-child(2) {
  animation: ease 0.4s scaled forwards;
}

.active span:nth-child(3) {
  animation: ease 0.4s bottom forwards;
}

.not-active span:nth-child(1) {
  animation: ease 0.4s top-2 forwards;
}

.not-active span:nth-child(2) {
  animation: ease 0.4s scaled-2 forwards;
}

.not-active span:nth-child(3) {
  animation: ease 0.4s bottom-2 forwards;
}

.not-animate {
  animation: none !important;
}

.h3-paragraph {
  margin-top: -10px;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 10px;
    transform: rotate(0);
  }
  100% {
    top: 10px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 10px;
    transform: rotate(45deg);
  }
  50% {
    top: 10px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 10pxx;
    transform: rotate(0);
  }
  100% {
    bottom: 10px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 10px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 10px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* ---------------------------------------------------  */

/* ----------- 2 COLUNAS  */

@media screen and (max-width: 1200px) {
  .container-logo {
    width: 300px;
    height: 300px;
    top: -210px;
  }

  .container-logo.scroll {
    top: -248px;
  }

  .logo-img {
    width: 210px;
    top: 32px;
    left: 16%;
  }

  .logo-img.scroll {
    width: 180px;
    left: 21%;
  }

  .menu {
    margin: 0 1.5%;
  }

  .organizers {
    flex-wrap: wrap;
  }

  .break-flex {
    display: block;
  }
}

/* ----------- 1 COLUNA */

@media screen and (max-width: 1120px) {
  #menu {
    transition: right 0.3s ease-in-out;
  }

  .mobile-menu {
    display: block;
    z-index: 200;
    transition: all 0.3s ease-in-out;
  }

  .menu {
    background-color: #1b1740;
    position: absolute;
    top: 0;
    margin: 0;
    flex-direction: column;
    flex-wrap: unset;
    justify-content: center;
    padding: 50px;
    height: 100vh;
    min-width: 350px;
    width: 350px;
    right: -150vw;
    align-items: flex-start;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.18);
  }

  .menu-item.flex {
    margin-bottom: -15px;
    display: table;
  }

  .menu-item img {
    margin-left: 4px;
    margin-top: 0;
    margin-bottom: 2px;
  }

  .menu.responsive {
    overscroll-behavior: contain;
    right: 0;
  }

  .menu.responsive.scroll {
    top: -20px;
  }

  .dropdown-wrap {
    display: flex;
    flex-direction: column;
  }

  .dropdown-menu {
    height: 0;
    display: flex;
    z-index: -1;
    flex-direction: column;
    background-color: #110e27;
    width: 350px;
    padding-left: 50px;
    left: -50px;
    top: 0;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .dropdown-menu.scroll {
    background-color: #110e27;
    box-shadow: none;
  }

  .dropdown-menu .menu-item {
    display: table;
    height: 0;
    overflow: hidden;
    text-align: initial;
    width: max-content;
    opacity: 0;
    line-height: initial;
    transition: all 0.2s ease-in-out;
  }

  .show {
    height: 92px;
    margin-top: 20px;
    margin-bottom: -15px;
    z-index: 1;
  }

  .dropdown-menu .menu-item.show-txt-menu {
    height: auto;
    opacity: 1;
  }

  .page-title {
    font-size: 40px;
  }

  .page-title-sub {
    font-size: 22px;
  }

  .banner-bottom-bar {
    padding: 10px 10%;
  }

  .banner-bottom-item {
    padding: 10px 18px;
  }

  .organizer-item {
    width: auto;
    min-width: 220px;
  }

  .logistics-city-img {
    margin-bottom: 45px;
  }

  footer {
    flex-wrap: wrap;
  }

  footer .footer-item {
    width: 100%;
  }

  footer .footer-logo {
    width: 220px;
    margin-top: 60px;
  }

  .location-wrapper {
    margin: 0;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .abstract-container {
    flex-wrap: wrap;
  }

  .info-tip {
    margin: 0;
    margin-top: 24px;
    width: auto;
  }
}

@media screen and (max-width: 680px) {
  .news-font-size {
    font-size: 28px !important;
  }

  .content-news {
    padding-top: 50px !important;
  }

  .head-news {
    font-size: 18px;
  }

  .margin-null {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .about-main-img {
    margin-left: 10px;
  }

  .sub-wrap {
    min-height: 82px;
  }

  .display-table {
    display: table;
  }

  footer {
    padding: 20px 0 10px;
  }

  footer .location-item:first-of-type {
    margin-right: 0;
  }

  footer .footer-item {
    padding: 20px 8%;
  }

  .nav-footer {
    min-width: auto;
  }

  .assinatura-img {
    width: 12px !important;
    top: 5px;
  }

  .footer-email-logo p:last-of-type,
  .footer-email-logo p a {
    font-size: 9px;
    margin-top: 10px;
    text-align: center;
  }

  footer .footer-logo {
    align-self: center;
  }

  .title-after-change::after {
    width: 78vw;
  }

  .reg-fee {
    flex-wrap: wrap;
  }

  .reg-item {
    margin: 0 !important;
    margin-top: 20px !important;
  }

  #hotel-table-desktop {
    display: none;
  }

  #hotel-table-mobile {
    display: flex;
  }

  .hotel-price {
    border-style: none;
    font-size: 16px !important;
    padding: 10px !important;
  }

  .hotel-price:first-of-type::after {
    content: "";
    height: 26px;
    width: 1px;
    background-color: #110e27;
    position: absolute;
    right: 0;
  }

  .hotel-table {
    margin: 10px 0;
  }

  .hotel-column h4 {
    font-size: 16px;
    min-height: 50px;
  }

  .hotel-table-sub {
    font-size: 16px;
    padding: 10px;
  }

  .info-img {
    margin-top: 0;
    width: 230px;
  }

  .info-txt {
    min-width: 200px;
  }

  .program-head-wrap {
    margin-right: 0;
  }

  .mobile-margin-btn {
    margin-top: 10px;
  }
}

/* ----------- MOBILE  */

@media screen and (max-width: 550px) {
  .info-img {
    margin-right: 0;
  }

  .info-txt {
    min-width: 160px;
  }

  .container-logo {
    width: 270px;
    height: 270px;
    top: -210px;
    left: -40px;
  }

  .logo-img {
    top: 22px;
    left: 6.5%;
    width: 172px;
  }

  .logo-img.scroll {
    width: 160px;
    left: 8%;
  }

  .container-logo.scroll {
    top: -219px;
  }

  .menu-btn,
  .close-modal-btn {
    top: 33px;
    right: -15px;
  }

  .nav.scroll {
    height: 65px;
  }

  .menu {
    min-width: 100vw;
    width: 100vw;
    padding: 30px;
    align-items: center;
  }

  .menu-item.flex {
    margin: 0 auto;
    margin-bottom: -15px;
  }

  .dropdown-menu {
    width: 100vw;
    left: 0;
    top: 0;
    padding: 0;
  }

  .dropdown-menu .menu-item {
    text-align: center;
    margin: 0 auto;
  }

  .page-title {
    font-size: 32px;
  }

  .page-title-sub {
    font-size: 16px;
  }

  .banner p {
    font-size: 10px;
  }

  .banner-bottom-item h2 {
    font-size: 16px;
  }

  .banner-bottom-item img {
    width: 35px;
  }

  .banner-bottom-bar {
    padding: 8px 10%;
  }

  .intro-img {
    height: 250px;
  }

  .circle-img {
    width: 250px !important;
    height: 250px;
  }

  .program-head-wrap {
    min-width: 250px;
  }

  .plenary-item > div {
    flex-direction: column;
  }

  .plenariesImg {
    width: 120px !important;
    height: 120px;
    align-self: center;
    margin: 0;
    margin-bottom: 8px;
  }

  .box-circle-img {
    margin-left: 0;
    margin-top: 40px;
  }

  .intro-content a {
    align-self: center;
  }

  .page-h2 {
    font-size: 34px;
  }

  .sub-wrap {
    margin-top: -10px;
    min-width: 290px;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 90px;
  }

  .org-sub {
    width: 103%;
  }

  .org-sub span {
    padding: 10px 20px;
    right: 0;
    margin-top: 3px;
    width: 100%;
    font-size: 14px;
  }

  .sub-active span,
  .non-clickable span {
    font-size: 18px;
    padding: 12px 20px;
  }

  #organizers span {
    border-right-width: 5px;
    margin-left: -55px;
    width: calc(100% + 50px);
  }

  #scicom span {
    width: calc(100% - 5px);
  }

  #local-organizing span {
    width: 128%;
  }

  .calendar-month {
    margin: 10px 20px;
    min-width: 220px;
  }

  .location-name {
    margin-bottom: 25px !important;
  }

  .location-item.margin-top {
    margin-top: 30px;
  }

  .intro-content {
    min-width: 250px;
  }

  .about-imgs {
    max-width: 320px;
    flex-direction: column;
    align-items: center;
  }

  /* SLICK--------------- */

  .about-main-img {
    margin: 0;
  }

  .about-main-img .slick-slide span {
    width: 250px !important;
    height: 250px;
    margin: 0 auto;
  }

  .about-main-img .slick-slide img {
    height: 250px;
  }

  .about-main-img .slick-slide p {
    font-size: 10px;
    max-width: 250px;
  }

  .about-small-img-2 {
    margin: 0;
  }

  .about-small-img-2 .slick-slide {
    width: 60px !important;
    height: 60px;
  }

  .about-small-img-2 .slick-slide img {
    height: 60px;
  }

  /* --------- */

  .first-section {
    margin-top: 70px;
  }

  .perfil {
    width: 150px !important;
    height: 150px;
  }

  .perfil img {
    width: 150px;
  }

  .perfil-horizontal img {
    height: 150px;
    width: auto;
  }

  .org-wrap {
    overflow: hidden;
  }

  .org-padding {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .organizer-item {
    min-width: 200px;
  }

  .local-organizing ul {
    padding-left: 20px;
  }

  .previous-symp {
    padding: 0;
    padding-top: 25px;
  }

  .previous-item div {
    margin: 20px 0;
  }

  .program-calendar-date {
    margin-top: 5px;
  }

  .program-calendar-date p {
    margin-left: 0;
    margin-bottom: -5px;
  }

  .program-calendar-date span {
    text-align: center;
    border-width: 0 8px;
  }

  .sub-active .program-calendar-date p {
    font-size: 14px;
  }

  .not-available-item p {
    text-align: center;
    width: 250px;
  }

  .program-year-title {
    margin-top: 20%;
  }

  .page-h2::after {
    width: 80vw;
  }

  .city-title h3 {
    margin-left: 0;
  }

  .city-text {
    margin-top: 20px;
  }

  .logistics-city-img img {
    height: 250px;
  }

  .page-h2-full {
    width: 100%;
    padding: 0;
  }

  .page-h2-full span {
    text-align: start;
    padding-left: 10%;
  }

  .location-item-full {
    width: 100%;
    padding: 10px 10%;
  }

  .container-full {
    flex-wrap: wrap;
  }

  .hotel-img {
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-top: -10px;
    width: 100%;
    min-width: 250px;
  }

  .airports-list li {
    margin: 15px 0;
    padding: 3px;
    min-width: 200px;
  }

  .airports-sub {
    padding-left: 20px;
  }

  .reg-title {
    min-width: 200px;
  }

  .reg-sub {
    margin-left: 0;
  }

  .reg-sub span {
    margin-top: 10px;
  }

  .intro-img-sub {
    max-width: 250px;
    font-size: 10px;
  }

  .hotel-table {
    margin: 10px 0;
  }

  .mobile-margin-top {
    margin-top: 10px !important;
  }

  .reg-btn {
    padding: 10px;
  }

  .reg-info p:first-of-type {
    font-size: 20px;
  }

  .line-height-change {
    line-height: 20px !important;
    padding: 10px 55px !important;
  }

  .flag-reg-open {
    top: 130px;
  }

  .flag-reg-open p {
    margin-right: 5px;
  }

  .talks-aside {
    min-width: 200px;
  }

  .partnership img {
    min-width: auto;
    width: 100%;
    padding: 24px 12px;
  }

  .hotels-container {
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .places-container {
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .airport-banner h4 {
    margin: 16px 20px;
    font-size: 30px;
  }
}

@media screen and (max-width: 450px) {
  .line-height-change {
    padding: 10px 35px !important;
  }
}

@media screen and (max-width: 380px) {
  .line-height-change {
    padding: 10px !important;
  }

  .content-news {
    padding-top: 85px !important;
  }
}
